body {
    background-color: #f2f2f2;
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 380px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    outline: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
}

.player-section,
.results-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player-section {
    background-color: #212138;
    color: white;
}

.results-section {
    background-color: #ffc0cb;
}

.button {
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #45a049;
}

.computer-choice {
    background-color: #f0f8ff;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scoreboard {
    background-color: #00ffff;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

p {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
}

.scores {
    display: flex;
    align-items: center;
}

#separator {
    margin: 0 5px;
    font-size: 24px;
}

